<div class="container-fluid mt-5  about-style" id="connectid">
  <div class="row hgt">
    <div class="col-md-11 col-11 mx-auto" id="contAbout">
      <h1 class="text-center  main-heading">Let's Connect</h1>
      <p class="text-center sub-heading"></p>

      <div class="row">
        <div class="col-md-6 col-12 hero-text ">
          <figure class="avatar">
            <img src="images/connect.svg" alt="avatar">
          </figure>
        </div>

        <!-- Right side -->
        <div id="aboutSect"
          class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">


          <div id='connDiv'>

            <a href="https://github.com/riyaraghuwanshi31 ">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <img src="images/githubLogo.png" alt="">

            </a>

            <a href="https://www.linkedin.com/in/riya-raghuwanshi-92185624b">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <img src="images/linkdinNew.png" alt="">

            </a>



          </div>

        </div>

      </div>
    </div>
  </div>
</div>