<div class="container-fluid mt-5  about-style" id="serviceid">
    <div class="row hgt">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center  main-heading">Services</h1>
            <p class="text-center sub-heading"></p>

            <div class="row serItem">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Front-end Development</h4>
                            <p>Languages: HTML, CSS, JavaScript
                                Frameworks: React, Angular, Vue.js <br>
                                Responsive Design</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Back-end Development</h4>
                            <p>Server-side languages: Node.js, Java
                                Databases: MongoDB <br>
                                RESTful APIs
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Full-Stack Development</h4>
                            <p>Combining front-end and back-end development skills
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>UI/UX Design</h4>
                            <p>User interface and experience design.
                               <br>
                                Tools: Adobe XD, Figma, Sketch</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Database Management</h4>
                            <p>Database design and optimization
                                Data migration and integration
                                Backup and recovery solutions</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Cloud Services</h4>
                            <p>
                                AWS cloud architecture and deployment services, including serverless applications.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
</div>